@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 60px;
$gutter: 20px;
$grid-columns: 15;
$max-width: 1180px;

// Define your breakpoints
$full-size: (min-width 1024px 15);
$big-tablet: new-breakpoint(min-width 800px max-width 1024px 8);
$portrait-tablet: new-breakpoint(min-width 480px max-width 800px 8);
$tablet: new-breakpoint(min-width 480px max-width 1024px 8);
$mobile: new-breakpoint(max-width 480px 4);