$red: #E50000;
$black: #000;
$darker-red: #400000;
$washed-out-green: #40FF40;
$vibrant-green: #54CC14;
$blue: #1485CC;
$yellow: #FFFC19;

@import 'normalize';
@import 'grid-settings';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

@import 'davidbunce/global';
@import 'davidbunce/navigation';
@import 'davidbunce/typography';
@import 'davidbunce/header';
@import 'davidbunce/front-page';
@import 'davidbunce/footer';