.main-footer {
	margin-top: $base-font-size * 6;
	padding-bottom: $base-font-size * 3;
	@include row();

	p {
		font-size: $base-font-size;
	}
}

.footer-bio {
	@include span-columns(9);

	@include media($tablet) {
		@include span-columns(8);
		padding-left: 10px;
		padding-right: 10px;
	}

	@include media($mobile) {
		@include span-columns(4);
		padding-left: 10px;
		padding-right: 10px;
	}

	.footer-bio-img {
		@include span-columns(3 of 9);
		@include media($mobile) {
			@include clearfix();
			width: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;

		}
	}
}


.footer-title {
	color: $blue;
}

.footer-social-media {
	@include media($full-size) {
		@include span-columns(5);
		@include shift(1);
	}

	@include media($tablet) {
		@include span-columns(8);
		padding-left: 10px;
		padding-right: 10px;
	}

	@include media($mobile) {
		@include span-columns(4);
		padding-left: 10px;
		padding-right: 10px;
	}

}

.social-media-icons {
	padding-top: $base-font-size;
}

.footer-link-list {
	li {
		float: left;
		padding: 0px 10px;
		border-right: 1px solid $red;

		&:first-of-type {
			padding-left: 0px;
		}

		&:last-of-type {
			border-right: 0px;
		}
	}
}