.main-footer {
	margin-top: $base-font-size * 6;
	padding-bottom: $base-font-size * 3;
	@include row();

	p {
		font-size: $base-font-size;
	}
}

.hire-me-button {
    padding: 10px 40px;
    color: $vibrant-green;
    font-family: $serif;
    font-size: 22px;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 3px;
}

.footer-bio {
	@include span-columns(9);
    padding-top: 20px;

	@include media($tablet) {
		@include span-columns(8);
		padding-left: 10px;
		padding-right: 10px;
	}

	@include media($mobile) {
		@include span-columns(4);
		padding-left: 10px;
		padding-right: 10px;
	}

	
}


.footer-title {
	color: $blue;
}

.footer-social-media {
	@include media($full-size) {
		@include span-columns(5);
		@include shift(1);
	}

	@include media($tablet) {
		@include span-columns(8);
		padding-left: 10px;
		padding-right: 10px;
	}

	@include media($mobile) {
		@include span-columns(4);
		padding-left: 10px;
		padding-right: 10px;
	}

}

.social-media-icons {
	padding-top: $base-font-size;
}

.footer-link-list {
	li {
		float: left;
		padding: 0px 10px;
		border-right: 1px solid $red;

		&:first-of-type {
			padding-left: 0px;
		}

		&:last-of-type {
			border-right: 0px;
		}
	}
}

@font-face {
    font-family: 'si';
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon.woff') format('woff'),
         url('../fonts/socicon.ttf') format('truetype'),
         url('../fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../fonts/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    margin-top: 10px;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-right: 4px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-rss {
    background-color: #f26109;
}
.soc-rss:before {
    content:',';
}
.soc-instagram {
    background-color: #9c7c6e;
}
.soc-instagram:before {
    content:'x';
}
.soc-github {
    background-color: #5380c0;
}
.soc-github:before {
    content:'Q';
}

.soc-twitter:hover {
    background-color: #61bbf2;
}
.soc-linkedin:hover {
    background-color: #4785cb;
}
.soc-rss:hover {
    background-color: #ff751d;
}
.soc-instagram:hover {
    background-color: #b09082;
}
.soc-github:hover {
    background-color: #6794d4;
}