body {
	background: #111;
	overflow-x: hidden;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background: url('../img/live/crossword.png');
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

    -webkit-transform: translateX(0);
	 transform: translateX(0);
	 -webkit-transition: .3s ease all;
	 transition: .3s ease all;
}

.page-id-352 .site-wrap {
	background: url('../img/live/crossword.png');
	background: url('../img/live/crossword.png') repeat,
		url('../img/live/wordpress-logo.png')  bottom left no-repeat;
}


// This moves the whole document to the left by 200px when the button is checked 
.site-wrap.active {
    -webkit-transform: translateX(-200px);
  	transform: translateX(-200px);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

.container {
	@include outer-container();
}

	.standard-container {
		@include row();
		padding-top: $base-font-size * 3;

		@include media($portrait-tablet) {
			padding-top: $base-font-size * 1;
		}

		@include media($mobile) {
			padding-top: $base-font-size * 1;
		}
	}

	.portfolio-content {
		@include span-columns(9);

		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
			padding-left: 10px;
			padding-right: 10px;
		}

		p:first-of-type {
			font-size: $base-font-size * 1.5;

			@include media($mobile) {
				font-size: $base-font-size * 1.25;
			}
		}
	}

		.portfolio-screenshot {
			margin: 20px 0px;

			img {
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}

		.portfolio-sidebar {
			@include span-columns(6);
			padding-top: 140px;

			@include media($mobile) {
				padding-top: 0px;
				@include span-columns(4);
				@include shift(0);
				padding-left: 10px;
				padding-right: 10px;
			}
		}

	.post-content {
		@include span-columns(10);
		@include shift(2);

		@include media($big-tablet) {
			@include span-columns(6);
			@include shift(1);
		}

		@include media($portrait-tablet) {
			@include span-columns(6);
			@include shift(1);
		}

		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
			padding-left: 10px;
			padding-right: 10px;
		}

		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}

		p:first-of-type {
			font-size: $base-font-size * 1.5;

			@include media($mobile) {
				font-size: $base-font-size * 1.25;
			}
		}
	}

.post-loop {
	padding-top: $base-font-size * 1;
	border-bottom: 1px $red dotted;
}

.portfolio-loop {
	padding-top: $base-font-size * 1;
	padding-bottom: $base-font-size * 1;
	border-bottom: 1px $blue dotted;

	.portfolio-thumbnail-small {
		margin-top: 20px;
		@include span-columns(6);
		@include clearfix();
	}

	.portfolio-sidebar-small {
		padding-top: 20px;
		padding-bottom: 90px;
	}
}