.main-header {
	@include row();
	position: relative;
}

.logo {
	@include media($mobile) {
		margin-left: 10px;
		display: block;
		max-width: 70%;
	}
}



@mixin responsive-button() {
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	height: 40px;
	width: 40px;
	text-align: center;
	background: $red;
	background-image: none;
	color: #FFF;
	text-shadow: none;
	border: 1px solid $red !important;
	box-shadow: none;

	&:after {
		content: '☰';
		position: relative;
		// left: -7px;
		font-size: 14px;
	}
}

@mixin responsive-menu-interior() {
	background: lighten($yellow, 30%);
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	max-height:0;
	overflow: hidden;
	position: relative;

	&:nth-of-type(2) {
		background: $washed-out-green;
	}

	li {
		float: none;
		margin-left: 0px;
	}

	.sub-menu {
		display: block !important;
		position: relative !important;
		top: auto !important;
		left: auto !important;
		width: 100%;
		height: auto;

		a {
			background: lighten($yellow, 20%) !important;
		}
	}

	a, .sub-menu a, .menu-item-has-children a, .menu-item-has-children:hover a {
		border: 0px !important;
		margin-top: 0px;
		height: 50px;
		line-height: 50px;
		background: lighten($yellow, 20%);

		&:hover {
			border: 0px !important;
		}
	}

	.current_page_item {
		a {
			border: 0px;
		}
	}
}
	.active {
		max-height:9000px !important;
	  	@include transition-duration(1s);
	}

.navbar-button {
	display: none;

	@include media($big-tablet) {
		@include responsive-button();
	}

	@include media($portrait-tablet) {
		@include responsive-button();
	}

	@include media($mobile) {
		@include responsive-button();
	}

}

.main-menu {
	z-index: 50;

	@include media($full-size) {
		position: absolute;
		right: 0px;
		top: 0px;
	}

	@include media($big-tablet) {
		@include span-columns(8);
	}

	a {
		display: block;
		margin-top: 5px;
		line-height: 84px;
		height: 70px;
		padding: 0px 10px;
		color: $black;
		font-family: $serif;
		font-size: 22px;
		text-transform: uppercase;
		z-index: 500;

		&:hover {
			margin-top: 0px;
			border-top: 5px $yellow solid;
			color: #FFF;
			background: $red;
		}
	}

	.menu-item-has-children {
		&:hover {
			a:first-of-type {
				border-top: 5px $yellow solid;
				background: $red;
				margin-top: 0px;

				color: #FFF;
			}

			.sub-menu {
				display: block;
			}
		}
	}

	.current_page_item {
		a {
			border-top: 5px $blue solid;
			margin-top: 0px;
			color: $blue;

			&:hover {
				color: #FFF;
			}
		}

	}

	li {
		float: left;
		margin-left: 20px;
		position: relative;

		.sub-menu {
			display: none;
			border: none;
			position: absolute;
			left: -20px;
			top: 70px;

			li {
				background: $red;
				width: 130%;
				height: 50px;
			}

			a, a:first-of-type {
				border-top: 0px !important;
				margin-top: 0px !important;
				background: $yellow !important;
				line-height: 50px;
				height: 50px;
				color: $red;
				border-left: lighten($red, 30%) 5px solid;

				&:hover {
					background: $red !important;
					border-left: $yellow 5px solid !important;
					color: #FFF !important;
				}
			}
		}

		@include media($big-tablet) {
			&:first-of-type {
				margin-left: 0px;
			}
		}
	}

	@include media($big-tablet) {
		@include responsive-menu-interior();
	}

	@include media($portrait-tablet) {
		@include responsive-menu-interior();
	}

	@include media($mobile) {
		@include responsive-menu-interior();
	}
}

