.main-header {
	@include row();
	position: relative;
}

.logo-area {
	@include media($mobile) {
		margin-left: 10px;
		display: block;
		max-width: 70%;
	}
}

.language-codes {
	font-weight: bold;

	a {
		padding: 0 10px;
	}
}

.logo {

}


