article {

	h1 {
		color: $red;
	}

	h2, h3, h4, h5 {
		color: $blue;
	}

	li {
		margin-left: $base-font-size * 3;
		font-size: $base-font-size * 1.25;
		margin-bottom: $base-line-height / 2;
		color: darken($blue, 30%);
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		li {
			list-style-type: decimal-leading-zero;
		}
	}

	blockquote {
		p {
			padding-left: 10px;
		}

		p:first-of-type {
			font-size: $base-font-size * 1.25 !important;
		}
	}
}