// A fix to prevent FOUT whilst Typekit loads
.wf-loading {
	h1, h2, h3, h4, h5, h5, p, span, li, blockquote {
		visibility: hidden;
	}
}

article {

	h1 {
		color: $red;
	}

	.post-details {
		font-size: $base-font-size * 0.75 !important;
		text-transform: uppercase;
		font-weight: 600;
	}

	h2, h3, h4, h5 {
		padding-top: $base-line-height;
		color: $blue;
	}

	li {
		margin-left: $base-font-size * 3;
		font-size: $base-font-size * 1.25;
		margin-bottom: $base-line-height;
		color: darken($blue, 30%);
	}

	ul {
		li {
			list-style-type: disc;
		}
		margin-bottom: $base-line-height * 2;
	}

	ol {
		li {
			list-style-type: decimal-leading-zero;
		}
		margin-bottom: $base-line-height * 2;
	}

	blockquote {
		p {
			padding-left: 10px;
		}

		p:first-of-type {
			font-size: $base-font-size * 1.25 !important;
		}
	}
}

.portfolio-sidebar-item {
	color: $blue;
	font-family: $serif;
	font-size: $base-font-size * 1.4 !important;

	&:first-of-type {
		font-size: $base-font-size * 2 !important;
		margin-bottom: $base-font-size;
	}

	strong {
		color: $red;
	}
}

.portfolio-sidebar-small-item {
	color: $blue;
	font-family: $serif;
	font-size: $base-font-size * 1.2 !important;

	&:first-of-type {
		font-size: $base-font-size * 1.4 !important;
		margin-bottom: $base-font-size;
	}

	strong {
		color: $black;
	}
}